<th:block th:fragment="navbar-user">
    <header class="main-header">
        <nav class="navigation-bar bg-sv">
            <div class="navigation-bar-brand mt-3 d-flex justify-content-center">
                <h2 class="text-white">Song Vision</h2>
            </div>
            <hr class="hr-2 mt-0 bg-white w-85">
            <ul class="navbar-list ml-4 mt-4">
                <li class="navbar-list-element">
                    <a href="/">Home</a>
                </li>
                <li class="navbar-list-element">
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
</th:block>